# PostgreSQL
POSTGRES_USER=wrany
POSTGRES_PASSWORD=wrany
POSTGRES_DB=wrany
POSTGRES_PORT=5432

# Kafka (internal only, not exposed to host)
KAFKA_CLUSTER_ID=wrany-kafka-cluster

# tracking-gateway
GATEWAY_PORT=8080

# tracking-worker
WORKER_PORT=8081
